@font-face {
    font-family: "B2Hana-Regular";
    src:
      url("https://cdn.jsdelivr.net/gh/max32002/max-hana@1.1/webfont/B2Hana-Regular.woff2") format("woff2"),
      url("https://cdn.jsdelivr.net/gh/max32002/max-hana@1.1/webfont/B2Hana-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

*{
    background-color: rgb(255, 255, 255);
    /* font-family: B2Hana-Regular, sans-serif; */
    cursor: pointer;
}

body{
  position: relative;
}

.title{
    margin-left: 1rem;
    margin-top: 2rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-bottom: 1rem;

    transform: scaleY(1.5);
    transform-origin: center;
}

.about{
  position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50%;
    border: 0.5px solid black;
    transition: 150ms ease;
    top: 1.5rem;
    right: 2rem;
    z-index: 10;

    /* about text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transform: rotate(-10deg);
    text-decoration: none;
    color: black;
}

.about:hover {
    background: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    font-size: 3rem;
  }


.survey{
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
  border: .5px solid black;
  margin: 1rem;
  padding: .5rem;
  transform: rotate(5deg);
  background-color: black;
  color: white;
  font-size: .75rem;
  bottom: 1rem;
  left: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
  padding: 12px;
  padding-top: 1rem;
}

.grid section {
  border: .5px solid #000;
  padding: 1rem;
  padding-top: .5rem;
  
  font-family: B2Hana-Regular, sans-serif;
  font-size: 1rem;
  min-height: 250px;
}

.grid section:hover {
  transform: rotate(3deg);
  box-shadow: 0 15px 7px rgba(0,0,0,0.18);
}
